.button {
  margin: 0;
  padding: $spacing-s;
  border: none;
  cursor: pointer;
  font-family: $font-family-body;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  @include border;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--primary {
    background: $color-neutral-00;
    color: $color-neutral-100;
  }

  &--secondary {
    background: $color-secondary-1;
    color: $color-neutral-100;
  }

  &--discrete {
    background: $color-primary-2;
    color: $color-neutral-00;
  }
}
