.input-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__label {
    display: block;
  }
  &__input {
    margin-top: $spacing-xs;
    padding: $spacing-s;
    border-radius: $border-radius-s;
    border: none;
  }
}
