/* ==== Colors ==== */

/* primary colors */
$color-primary-1: #7a44ff;
$color-primary-2: #5c2cd5;
$color-primary-3: #4b25ab;

/* secondary colors */
$color-secondary-1: #fece69;
$color-secondary-2: #fe6687;
$color-secondary-3: #f77efa;

/* neutral dark colors */
$color-neutral-100: #342e2a;
$color-neutral-50: #ccc;
$color-neutral-00: #fff;

/* Utilities colors */
$color-warning: #fd2500;
$color-caution: #f39628;
$color-positive: #5fa662;
